.footer {
    height: 80px;
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.footerContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
}

.copyright{
    margin: 30px;
    font-size: 20px;
}